<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <% if(user==undefined) { %>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <% } else { %>
      <li><a href="/login/logout">Logout</a></li>
      <% } %>
    </ul>
    <% if(user!=undefined) { %>
    <p class="navbar-text">Hello, <%= user.username %></p>
    <% } %>
  </div>
</nav>
