<div class = "panel panel-default">
  <div class = "panel-heading">
    <ol class = "breadcrumb" style="display:inline">
      <li><a href = "/">Home</a></li>
      <li><a href = "/"><%= header.category %></a></li>
      <li class = "active"><%= data.header.name %></li>
    </ol>
    <a href = <%= "/thread/new?forumId="+header._id %>><button class = "btn btn-primary ">New thread </button></a>
    Manager: <%= data.header.manager %>
  </div>
  <div class = "panel-body">
      <table class = "table table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Post Name</th>
            <th>Views</th>
            <th>Last Message</th>
            <th>Options</th>
          </tr>
        </thead>
        <% data.threads.forEach(function(thread) { %>
        <%  if(thread.sticky==true) { %>
          <tr>
            <td><span class = "glyphicon glyphicon-flag" aria-hidden="true"></span></td>
            <td><a  class = "forum-name" href = <%= "/thread/view?id="+thread._id %>> <%= thread.title + " by " + thread.creator%></a></td>
            <td><%= thread.views %></td>
            <td>-</td>
            <td>-</td>
          </tr>
        <% }}); %>
        <% data.threads.forEach(function(thread) { %>
          <tr>
            <td><span class = "glyphicon glyphicon-asterisk" aria-hidden="true"></span></td>
            <td><a class = "forum-name" href = <%= "/thread/view?id="+thread._id %>> <%=  thread.title + " by " + thread.creator %></a></td>
            <td><%= thread.views %></td>
            <td>-</td>
            <td>
              <form method="post" action=<%="thread/remove?f="+thread.forumId %>><input type="submit" value="remove">
                <input type="text" name="thread" value=<%= thread._id %> hidden="true">
                <input type="text" name="f" value=<%= thread.forumId %> hidden="true">
              </form>
            </td>
          </tr>
        <% }) %>
      </table>

  </div>
</div>
