
<% data.categories.forEach(function(category)  { %>
  <div class = "panel panel-default">
    <div class = "panel-heading"><%= category %></div>
    <div class = "panel-body">

        <table class = "table table-striped table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Forum</th>
              <th>Threads</th>
              <th>Options</th>
            </tr>
          </thead>
          <% data.forums.forEach(function(forum) { if(forum.category == category) {%>
            <tr>
              <td><span class = "glyphicon glyphicon-asterisk" aria-hidden="true"></span></td>
              <td><a href = <%= "/forum?id=" + forum._id.toString() %> ><%= forum.name %></a></td>
              <td><%= forum.threads %></td>
              <td>
                <a href = <%= "/forum/edit?id=" + forum._id.toString() %> >Edit</a>
                <form method="post" action="forum/remove"><input type="submit" value="remove" inline="true">
                  <input type="text" name="id" value=<%= forum._id %> hidden="true">
                </form></td>
            </tr>
          <% }})%>
        </table>


    </div>
  </div>
<% }) %>
