<div class = "panel panel-default">
  <div class = "panel-heading">
    <ol class = "breadcrumb" style="display:inline">
      <li><a href = "/">Home</a></li>
      <li><a href = "/">Category</a></li>
      <li><a href = "/">Forum</a></li>
      <li class = "active">New thread</li>
    </ol>
  </div>
  <div class = "panel-body">
      <%- include forms/new_thread %>
  </div>
</div>
