<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel='stylesheet' href= <%= '/stylesheets/'+content+'.css' %> />
  </head>
  <body>
    <div class = "container">
      <!-- user debug <%- JSON.stringify(user)%> -->
      <div class = "row"><%- include partials/header.ejs %></div>
      <div class = "row"><%- include partials/menu.ejs %></div>

      <div class = "row"><%- include(content) %></div>
      <div class = "row"><%- include partials/footer.ejs %></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
