<div class="panel panel-default panel-primary">

<div class=" panel-heading"><%= thread.title %></div>
<div class=" panel-body"><%= thread.content %> </div>

</div>

<div class="panel-group">
<% comments.forEach(comment=>{ %>

  <div class="panel panel-default panel-info">

  <div class=" panel-heading"><%= comment.creator %></div>
  <div class=" panel-body"><%= comment.content %> </div>

</div>
<% }) %>
</div>
<div>
  <h4>comment</h4>
<%- include forms/comment.ejs %>
</div>
