<div class = "panel panel-default">
  <div class = "panel-heading">Users</div>
  <div class = "panel-body">

      <table class = "table table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Username</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% users.forEach(function(user) {%>
          <tr>
            <td><span class = "glyphicon glyphicon-asterisk" aria-hidden="true"></span></td>
            <td><a href = "" ><%= user.username %></a></td>
            <td></td>
            <td>-</td>
          </tr>
        <% })%>
      </table>


  </div>
</div>
