.table thead {
  font-size:10px;
}

.panel-body {
  margin: 0;
  padding:0;
}

.forum-name {
  font-weight: 600;
  color: black;
  font-size:12px;
}

.forum-name:hover {
  color: grey;
  text-decoration: none;
}
