<form method = "post" action = "/thread/comment" id = "newThreadForm">

    <div class = "form-group">
      <textarea name = "content" placeholder = "Write comment here" class = "form-control" form = "newThreadForm" rows = "4" cols = "50"></textarea>
    </div>


    <div class = "form-group">
      <input type = "submit" value = "Send" class = "btn btn-primary">
    </div>
    <input type = "hidden" name = "tId" value = <%= thread._id %>>
</form>

<div class = "row">

</div>
