<form method = "post" action = "" id = "edit">
    <div class = "form-group">
      <input type = "text" name = "fName" placeholder = "Name" class = "form-control">
    </div>

    <div class = "form-group">
      <input type = "text" name = "fManager" placeholder = "Manager" class = "form-control">
    </div>

    <div class = "form-group">
      <input type = "text" name = "fCategory" placeholder = "Category" class = "form-control">
    </div>
    <input type="text" name="fId" hidden="true" value=<%=id %>>

    <div class = "form-group">
      <input type = "submit" value = "Edit" class = "btn btn-primary">
    </div>
</form>
