<form method = "post" action = "login" id = "register">
    <div class = "form-group">
      <input type = "text" name = "username" placeholder = "Title" class = "form-control">
    </div>

    <div class = "form-group">
      <input type = "text" name = "password" placeholder = "Pass" class = "form-control">
    </div>

    <div class = "form-group">
      Emoji box
    </div>

    <div class = "form-group">
      <input type = "submit" value = "Post" class = "btn btn-primary">
    </div>
</form>

<div class = "row">

</div>
