<form method = "post" action = "/thread/new" id = "newThreadForm">
    <div class = "form-group">
      <input type = "text" name = "title" placeholder = "Title" class = "form-control">
    </div>

    <div class = "form-group">
      <textarea name = "content" placeholder = "Your thread here" class = "form-control" form = "newThreadForm" rows = "4" cols = "50"></textarea>
    </div>

    <div class = "form-group">
    
    </div>

    <div class = "form-group">
      <input type = "submit" value = "Post" class = "btn btn-primary">
    </div>
    <input type = "hidden" name = "forumId" value = <%= forumId %>>
</form>

<div class = "row">

</div>
